<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
        
        <link type="text/css" rel="stylesheet" media="all" href="{{ "/assets/css/framework/reset.css" | relative_url }}">
        <link type="text/css" rel="stylesheet" media="all" href="{{ "/assets/css/framework/960.css" | relative_url }}">
        <link type="text/css" rel="stylesheet" media="all" href="{{ "/assets/css/defaults.css" | relative_url }}">
        <link type="text/css" rel="stylesheet" media="all" href="{{ "/assets/css/system.css" | relative_url }}">
        <link type="text/css" rel="stylesheet" media="all" href="{{ "/assets/css/system-menus.css" | relative_url }}">
        <link type="text/css" rel="stylesheet" media="all" href="{{ "/assets/css/user.css" | relative_url }}">
        <link type="text/css" rel="stylesheet" media="all" href="{{ "/assets/css/typography.css" | relative_url }}">
        <link type="text/css" rel="stylesheet" media="screen" href="{{ "/assets/css/style.css" | relative_url }}">
        <link type="text/css" rel="stylesheet" media="print" href="{{ "/assets/css/print.css" | relative_url }}">
        <style type="text/css">#masthead{background-image:url("{{ site.default_header_img | relative_url }}");}</style>

        <script src="https://code.jquery.com/jquery-4.0.0.slim.min.js" integrity="sha256-8DGpv13HIm+5iDNWw1XqxgFB4mj+yOKFNb+tHBZOowc=" crossorigin="anonymous"></script>
    </head>
    <body class="nitobe">
        <div id="page-wrapper" class="clear-block">
            {% include header.html %}
            <hr class="break"/>
            {% include content.html %}
            <hr class="break"/>
            {% include footer.html %}
            <hr class="break"/> 
        </div><!-- /page-wrapper -->

        {% assign headers = site.static_files | where_exp:"image", "image.path contains '/assets/img/headers/'" %}
        <script type="text/javascript">
            $(document).ready(function() {
                var names = [{% for header in headers %}"{{ header.path | relative_url }}", {% endfor %}];
                $('#masthead').css('background-image', 'url(' + names[Math.floor(Math.random() * names.length)] + ')');
            });
        </script>
    </body>
</html>